* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
}
.div {
    text-transform: uppercase;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: var(--color-primary);

}

.container {
    height: 30vh;
    
    background: royalblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    /* padding-bottom: 60px; */

}

.container form {
    background: white;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    padding: 20px;
    width: 600px;
}

.container form .inputbox {
    display: block;
    color: #999;
    margin-top: 10px;
    padding-bottom: 5px;

}

.container form .inputbox input,
.container form .inputbox select {
    width: 100%;
    padding: 10px 0px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #444;
}

.container form .flexbox {
    display: flex;
    gap: 5px;
}

.container form .flexbox .inputbox {
    flex: 1 1 150px;
    width: 60%;
}

.container form .submit-btn {
    width: 100%;
    background: linear-gradient(45deg, blueviolet, royalblue);
    margin-top: 20px;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: .2s linear;
}

.container form .submit-btn:hover {
    letter-spacing: 2px;
    opacity: .8;
}


@media screen and (max-width: 600px) {
   
    .container {
      height: 10vh; 
      max-width: 60vw ;
    }

    .container form .inputbox input,
.container form .inputbox select {
    width: 98%;
    padding: 10px 0px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #444;
}

.container form {
    
    padding: 15px;
    width: 200px;
}

.container form .flexbox .inputbox {
    flex: 1 1 100px;
    width: 10px;
}

    .container form {
        width: 95vw;
    }
  }